.section1 {
  margin-top: -3rem;
  text-align: center;
  font-size: 2rem;
}

.section2 {
  display: flex;
  justify-content: center;
  gap: 37%;
}

.About {
  margin-top: 0rem;
  font-size: 1.5rem;
  border: 4px inset goldenrod;
  text-align: center;
}

.about {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: silver;
}

.list {
  border: 4px inset goldenrod;
  font-size: 1.5rem;
  padding: 10%;
}
