.section1 {
  margin-top: -3rem;
  text-align: center;
  font-size: 2rem;
}

.section2 {
  margin-top: 0rem;
  font-size: 1.5rem;
  border: 4px inset goldenrod;
  text-align: center;
}

.about {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: silver;
}

ul {
  display: inline-block;
}
