.blog {
  border: 3px inset goldenrod;
  border-radius: 30%;
  margin: 1rem;
  margin-right: 13rem;
  margin-left: 13rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: darkcyan;
}

.header,
.title {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: overline;
  padding-top: 20px;
  margin-top: 0rem;
}

.header {
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10%;
  background-color: darkcyan;
}

.title {
  border-radius: 20px;
  border: 3px inset goldenrod;
}

.dscrpt {
  padding: 2%;
  margin-top: 0.5rem;
  border: 4px inset goldenrod;
  border-radius: 50px;

  display: inline;
  text-align: center;
}

.dscrptDiv {
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 10%;
  display: block;
  text-align: center;
  background-color: darkcyan;
}

.btns {
  position: relative;
  padding: 0.5%;
  margin-top: 1%;
  display: flex;
  justify-content: right;
}

.Cbtn:hover,
.Ebtn:hover,
.Dbtn:hover {
  background-color: rgb(40, 38, 38);
  color: goldenrod;
  cursor: pointer;
}

.Cbtn:active,
.Ebtn:active,
.Dbtn:active {
  background-color: gray;
  color: snow;
}

.Cbtn,
.Ebtn,
.Dbtn {
  background-color: gold;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
}

::placeholder {
  color: goldenrod;
  opacity: 1;
}

input {
  outline: 0px solid transparent;
  caret-color: snow;
}
