.cmnt-cntnr {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  padding-bottom: 1rem;
}

.cmnt-sctn {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  background-color: goldenrod;
}

.cmnts {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 3%;
  border-radius: 20px;
  border: 3px inset black;
  background-color: goldenrod;
  color: black;
}

.cmnts::placeholder {
  color: black;
}

.btn {
  background-color: black;
  color: gold;
  border-color: goldenrod;
  border-radius: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: gold;
  color: black;
  border-color: black;
  cursor: pointer;
}

.cntnr {
  position: relative;
  text-align: center;
  background-color: goldenrod;
  font-size: 20px;
  bottom: 0;
}

.table {
  display: inline;
  text-align: center;
  font-size: 20px;
}

tr {
  display: flex;
  justify-content: space-evenly;
  background-color: goldenrod;
}

th {
  background-color: goldenrod;
  color: black;
}
