.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: gold;
  background-color: gray;
  text-align: center;
  font-size: 1.25rem;
}

span {
  text-align: center;
  background-color: gray;
  color: gold;
  font-weight: bold;
}
