.Welcome {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

.About {
  margin-top: -1rem;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 0rem;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  border: 4px inset goldenrod;
  border-radius: 200px;
  text-align: center;
}

.about {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: silver;

  border-radius: 50px;
}

h2 {
  border-radius: 50px;
}
