.Navbar,
.Navbar-li {
  margin-top: 0;
  margin-bottom: 2px;
  padding: 5px;
  background-color: gold;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 20px;
  text-decoration: underline;
  text-decoration: bold;
}

.Navbar {
  position: fixed;
  width: 100%;
  margin-top: -2.7rem;
}

.Navbar-li {
  border: 4px inset black;
  border-radius: 40px;
}

.Navbar-li:hover {
  color: gold;
  cursor: pointer;
  background-color: rgb(40, 38, 38);
  border: 4px inset goldenrod;
  text-decoration: none;
}

.Navbar-li:active {
  color: ivory;
  background-color: gold;
  text-decoration: none;
}
