.pictures {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  gap: 7rem;
}

.book,
.controller {
  border: 4px inset goldenrod;
  border-radius: 20px;
}

.book {
  margin-bottom: 4rem;
  padding: 8.7rem;
  background-image: url("../images/book.png");
}

.controller {
  margin-bottom: 4rem;
  padding-right: 8.7rem;
  padding-left: 8.7rem;
  background-image: url("../images/controller.png");
}
