.header,
.title {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: overline;
  padding-top: 20px;
}

.section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.list {
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 15%;
  border: 4px inset goldenrod;
  border-radius: 50px;
  font-size: 1.5rem;
}

.dscrpt {
  padding: 5%;
  margin-top: 0.5rem;
  margin-right: 5%;
  border: 4px inset goldenrod;
  border-radius: 50px;
  font-size: 1.5rem;
}

.dscrptDiv {
  margin-top: 1%;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.Cbtn,
.Ebtn,
.Dbtn {
  background-color: gold;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

::placeholder {
  color: goldenrod;
  opacity: 1;
}

input {
  outline: 0px solid transparent;
  caret-color: snow;
}
